<!-- footer component extracted from pages -->
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: beige">
    <section class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-sm-" style="padding-left: 450px; width: 70%;">
            <div class="content">
              <h2 style="padding-right: 25px;">Subscribed to Our Newsletter</h2>
                <div class="input-group">
                  <input type="email" class="form-control" name="" placeholder="Enter your Email" style="width: 30%;">
                    </div>
                      <span class="input-group-btn">
                      <button class="btn bg-primary w-50 m-3"type="submit">Submit</button>
                      </span>
                    </div>
                </div>
            </div>
          </div>  
      </div>
    </section>
  <div>
    <div class="text-center p-3" style="background-color: beige">
      © 2022 Copyright: Verg Realty All Rights Reserved
    </div>

    <div class="text-center p-3" style="background-color: beige">
      <a href="https://www.facebook.com/thebestcondoguyph"><img src="facebook_logo.png" width="50px"></a>
      <a href="https://www.instagram.com/bestcondoguyph/?hl=en"><img src="Instagram.png" width="30px" height="30px"></a>
      <a href="https://www.linkedin.com/in/vergel-brondial-462726180/"><img src="Linkedin.png" width="40px" height="30px" style="padding-left: 10px;"></a>
      <a href="https://twitter.com/VergeBrondial"><img src="Twitter.jpg" width="45px" height="40px" style="padding-left: 10px;"></a>
    </div>
</footer>
