<!-- header component extracted from pages -->
<nav class="navbar fixed-sticky navbar-expand-sm" style="background-color: beige;">
  <div class="container-fluid">
      <img src="Untitled-1.png" width="200px" height="170px">
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar_collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
          <div class="collapse navbar-collapse p-4" id="navbar_collapse" style="background-color:beige; ">
              <div class="navbar-nav">
              <a href="index.html" class="nav-item nav-link active"><i class="bi bi-house"></i> Home</a>
              <div class="nav-item dropdown ">
                <a class="nav-item nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-info-circle-fill"></i> About Us</a>
                    <div class="dropdown-menu">
                        <a href="Who _are_We.html" class="dropdown-item">Who are We</a>
                        <a href="Mission.html" class="dropdown-item">Mission</a>
                        <a href="Vision.Html" class="dropdown-item">Vision</a>
                </div>
                    </div>
                <div class="nav-item dropdown ">
                    <a class="nav-item nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="bi bi-receipt"></i> Buy</a>
                          <div class="dropdown-menu">
                              <a href="preselling.html" class="dropdown-item">Pre-Selling</a>
                              <a href="RFO.html" class="dropdown-item">Ready For Occupancy</a>
                      </div>
                          </div>
              <div class="nav-item dropdown ">
                    <a class="nav-item nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" ><img src="1368166.png" width="30px" height="25px"></i> Sell</a>
                          <div class="dropdown-menu">
                              <a href="House_and_Lot.html" class="dropdown-item">House and Lot</a>
                              <a href="Condominium.html" class="dropdown-item">Condominium</a>
                          </div>
              </div>
          
              <div class="nav-item dropdown ">
                <a class="nav-item nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" ><img src="for_rent.png" width="30px" height="25px"></i> Rent</a>
                      <div class="dropdown-menu">
                          <a href="Short_Term.html" class="dropdown-item">Short Term</a>
                          <a href="Long_Term.html" class="dropdown-item">Long Term</a>
                      </div>
            </div>

              <a href="contact_us.html" class="nav-item nav-link"><i class="bi bi-telephone"></i> Contact Us</a>
              </div> 
          </div>   
      <form class="d-flex">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-info"><i class="bi bi-search"></i></button> 
      </form>
      <div class="navbar-nav ms-auto mx-5">
          <a href="login.html" class="nav-item nav-link"> Log In</a>
          </div>
      </div>
  </div>
</nav>
